[submodule "inputmethodcommon"]
	path = inputmethodcommon
	url = https://android.googlesource.com/platform/frameworks/opt/inputmethodcommon
[submodule "LatinIME"]
	path = LatinIME
	url = https://android.googlesource.com/platform/packages/inputmethods/LatinIME
