[submodule "inputmethodcommon"]
	path = inputmethodcommon
	url = https://github.com/LineageOS/android_frameworks_opt_inputmethodcommon.git
[submodule "LatinIME"]
	path = LatinIME
	url = https://github.com/LineageOS/android_packages_inputmethods_LatinIME.git
